<div class="search-banner">
  <%= render "partials/navigation" %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="<%= guides_path %>" class="search-form">
        <div class="input-group">
          <input type="text" name="location" placeholder="enter location" class="form-control input-lg">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg">
              Search
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="search-content">
  <a name="results"></a>
  <div class="row">
    <div class="col-md-8">
      <div class="search-map"></div>
    </div>

    <div class="col-md-4">
      <div class="search-results">
        Loading results...
      </div>
    </div>
  </div>
</div>
