<div class="col-xs-4">
    <div class="avatar"></div>
</div>
<div class="col-xs-8">
    <div class="card">
        <div class="name"><%= guide.name %></div>
        <div class="location"><%= guide.location %></div>
    </div>
</div>
