<div class="left-25">
    <div class="avatar"></div>
</div>
<div class="right-75">
    <div class="card">
        <div class="name"><%= model.name %></div>
        <div class="address"><%= model.address %></div>
    </div>
</div>
