.search-banner
  background-image: url('http://www.bottlestonightapp.com/img/san_francisco.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom
  min-height: 300px

  .navbar
    margin-bottom: 130px
    a
      color: #fff

.search-content
  margin: 20px

  .search-map
    min-height: 400px
    border: 1px solid #aaa

.search-results
  .tour-guide
    padding: 10px
    &:nth-child(odd)
      background: #eee
    .avatar
      width: 80px
      float: left
    .details
      margin-left: 80px
      padding: 0 10px
    .contact
      .icon
        margin-right: 5px
