.search-banner
  background-image: url('http://www.bottlestonightapp.com/img/san_francisco.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom
  min-height: 300px

  .navbar
    margin-bottom: 130px
    a
      color: #fff

.search-results
  .tour-guide
    margin-bottom: 10px
