<% if notice %>
  <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><%= notice %>.</strong>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><%= alert %></strong>
  </div>
<% end %>
