<!DOCTYPE html>
<html>
<head>
  <title>IntegratedTours</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="continer">

    <%= render "refills/small_nav" %>

    <section class="left-25">
      <div class="gravatar">Gravatar Pic</div>
      <div class="traitify-info">Traitify Info</div>
      <div class="contact-info">Contact Info</div>
    </section>
    <section class="right-75">
      <article class="bio">Bio Information Here</article>
      <div class="inbox">Inbox to be done here</div>
    </section>
  </div>
</body>
</html>